<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>appleMarket</display-name>
  
    
     <!-- 웹과 독립된 WAC
   	/WEB-INF/applicationContext.xml -> /WEB-INF/spring/root-context.xml 변경한다.(감추려고 한다)
    -->
   <context-param>
   	<param-name>contextConfigLocation</param-name>
   	<param-value>/WEB-INF/spring/root-context.xml</param-value>
   </context-param>
   <listener>
   	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   
   
   
   <!-- 
   웹과 관련된 WAC 
  /WEB-INF/dispatcherServlet-servlet.xml -> 변경 /WEB-INF/spring/appServlet/servlet-context.xml로 변경한다.
  -->
  <servlet>
  	<servlet-name>dispatcherServlet</servlet-name><!--웹과 관련있을떄는 servlet이름을 따라가야 한다.  -->
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class><!--spring에서 제공(가져다 쓴다)-->
  	<!-- .do 하면 내가 모든 요청을 받아서 url을 찾는다. -->
  	
  	<!-- 파일명이나 위치를 변경할 때 -->
  	<init-param>
  		<param-name>contextConfigLocation</param-name><!-- 이걸 꼭 써줘야 한다. 이제부터 아래를를 찾아간다. -->
  		<param-value><!--xml은 골라읽는게 아니고 한꺼번에 읽는다.  -->
  			/WEB-INF/spring/appServlet/servlet-context.xml
  		</param-value><!-- 웹과 연관된 설정파일  -->
  	</init-param>
  
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcherServlet</servlet-name>
  	<url-pattern>/</url-pattern><!--프로젝트 끝날떄 /* 하위까지   -->
  </servlet-mapping>
  
  
  
  <!-- 스프링 파라메터로 한글을 넘길 때 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
   	 <param-name>encoding</param-name>
     <param-value>UTF-8</param-value>
   	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>