<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="communityboardSQL">
 	<select id="communityboardGetList" parameterType="java.util.Map" resultType="communityboard.bean.CommunityboardDTO">
 		select * from 
	 	(select rownum rn, tt.* from 
	 	(select * from communityboard order by communityboard_seq desc) tt)
	 	where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<select id="getTotalA" resultType="int">
 		select count(*) from communityboard
 	</select>
 	
 	<insert id="communityboardWrite" parameterType="communityboard.bean.CommunityboardDTO">
 		insert into communityboard(communityboard_seq,communityboard_subject,communityboard_content,communityboard_image,communityboard_logtime,communityboard_user_id)
 				 values(
 				seq_communityboard.nextval
 				,#{communityboard_subject}
 				,#{communityboard_content}
 				,#{communityboard_image}
 				,sysdate
 				,#{communityboard_user_id})
 	</insert>
 	
 	<update id = "communityboardModify" parameterType="communityboard.bean.CommunityboardDTO">
 		update communityboard set 
 			communityboard_subject = #{communityboard_subject}
 			,communityboard_content = #{communityboard_content}
 			,communityboard_image = #{communityboard_image}
 			,communityboard_logtime = sysdate
 			 where communityboard_seq = #{communityboard_seq}
 	</update>
 	
 	<delete id="communityboardDelete" parameterType="Integer">
 		delete communityboard where communityboard_seq = #{communityboard_seq}
 	</delete>
 	
 	<select id="communityboardGetView" parameterType="Integer" resultType="communityboard.bean.CommunityboardDTO">
 		select * from communityboard where communityboard_seq = #{communityboard_seq}
 	</select>
 	
 	<select id="communityboardSearch" parameterType="communityboard.bean.CommunityboardDTO" resultType="communityboard.bean.CommunityboardDTO">
 			select * from communityboard where

 		<if test="searchType == 'searchId'">
 			communityboard_user_id like '%'|| #{communityboard_user_id} ||'%'
 		</if>
 		
 		<if test="searchType == 'searchSubject'">
 			communityboard_subject like '%'|| #{communityboard_subject} ||'%'

 		</if>
 	</select>
 	
 	<update id="communityboardHit" parameterType="String">
 		update communityboard set communityboard_Hit = communityboard_Hit+1
 		where communityboard_seq = #{communityboard_seq}
 	</update>
 	
 	<select id="commentTotal" parameterType="String" resultType="int">
		select count(*) from communityboard_Comment where communityboard_seq=#{communityboard_seq}
	</select>
 	
 	
 </mapper>