<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="adminSQL">
 	
 	<!-- 회원 리스트 출력  -->
 	<select id="getAdminMemberList" resultType="member">
 		select * from appleMarket
 	</select>
 	
 	<!-- 회원 삭제  -->
 	<delete id="adminMemberDelete" parameterType="member">
 		delete from appleMarket where member_id=#{member_id}
 	</delete>
 	
 	<!-- 신고내역 리스트 출력  -->
 	<select id="getAdminWarningList" resultType="warningBoard">
 		select * from warningBoard where warning_status_YN='N'
 	</select>
 	
 	<!-- 신고내역 상세페이지 출력  -->
 	<select id="getAdminWarningView" parameterType="Integer" resultType="warningBoard">
 		select * from warningBoard where warning_seq=#{warning_seq}
 	</select>
	
 </mapper>
 	