@charset "utf-8";
body,
form,
legend {
    margin: 0;
    padding: 0
}

body,
table,
input,
textarea,
select,
button {
    font-size: 12px;
    font-family: Tahoma, AppleGothic, sans-serif;
    font-style: normal;
    text-decoration: none
}<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<style>
input[type=checkbox] {
    display:none;
    padding-left: 23px; 
   background-repeat: no-repeat;
   background-image: url('./img/checker-off.svg');
}

input[type=checkbox] {
    display:none;
}
input[type=checkbox] + label { 
    cursor: pointer; 
    padding-left: 23px; 
    background-repeat: no-repeat;
    background-image: url('/appleMarket/img/checker-off.svg');
}
input[type=checkbox]:checked + label {
    background-image: url('/appleMarket/img/checker-on.svg');
}
input[type=checkbox]:disabled + label {
    background-image: url('/appleMarket/img/checker-disabled.svg');
}
 
</style>
<h3>이미지 등록</h3>
<form id="communityboardWriteForm" ><!-- get방식 안 먹음 무조건 post방식으로만 먹힘 , ajax쓸거라서 나중에 지워짐 -->
<table border="1" cellpadding="5" cellspacing="0" >
      
      <tr>
         <td align="center"> 아이디</td>            
         <td>
         
         <input type="text" name = "communityboard_user_id" id="communityboard_user_id" size="35" value="user">         
         <div id="idDiv"></div>
         </td>
         
      </tr>
      <tr>
         <input type="checkbox" name="checker" id="checker1"><label for="checker1">익명</label>
         <td align="center"> 글제목</td>            
         <td>
         
         <input type="text" name = "communityboard_subject" id="communityboard_subject" size="35" placeholder="글 제목 입력">         
         <div id="nameDiv"></div>
         </td>
         
      </tr>
      <tr>
         <td align="center">내용</td>
         <td>
         <textarea name="communityboard_content" id="communityboard_content" cols="35" rows="15" placeholder="내용 입력" style=" overflow-y:scroll; overflow-x:hidden;"></textarea>         
         <div id="contentDiv"></div>
         </td>         
      </tr>      
      <tr>
          <td colspan="2">            
            <input type="file" name="img" id="img">
         </td> 
      </tr>
      
      <tr>      
         <td colspan="2" align="center">
            <input type="button" id="communityboardBtn" value="글쓰기 등록">
            <input type="reset" value="다시작성">   
         
         </td>
      </tr>
      
   </table>
</form>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

$('#communityboardBtn').click(function(){
   //초기화 과정
   $('#nameDiv').empty();
   $('#contentDiv').empty();
   
   if($('input[name=communityboard_subject]').val() == '') {
      $('#nameDiv').html('제목을 입력해주세요'); 
      $('#communityboard_subject').focus();
   }
   else if($('textarea[name=communityboard_content]').val() == ''){
      $('#contentDiv').html('내용을 입력해주세요');
      $('#communityboard_content').focus();
   }else {
      var formData=new FormData($('#communityboardWriteForm')[0]);
      $.ajax({         
         url:'/appleMarket/communityboard/communityboardWrite',         
         type:'post',
         enctype:'multipart/form-data',
         processData: false,
         contentType: false,
         data:formData,      
         //data:'subject='+$('#subject').val()+'&content='+$('#content').val(),
         success:function(data){
            alert('글을 등록하였습니다.');
            location.href="/appleMarket/communityboard/communityboardList?pg=1";
         },
         error:function(err){
            console.log(err);
         }
         
      });
      
   }
   });


</script>

header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
    display: block
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
    cursor: pointer;
    overflow: visible
}

img,
fieldset {
    border: 0;
    max-width: none
}

input {
    overflow: hidden;
    vertical-align: middle
}

em,
cite,
adress {
    font-style: normal
}

sup,
sub {
    font-style: normal;
    font-weight: normal
}

a {
	<!--
    color: #333;
    -->
    text-decoration: none;
    cursor: pointer
}

a:hover,
a:active,
a:focus {
    color: #00c;
    text-decoration: none
}

.s_hide,
legend {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden
}

.fright {
    float: right
}

.fleft {
    float: left
}

.clear {
    clear: both
}

.drop_shadow {
    -moz-box-shadow: #969696 2px 2px 5px;
    -webkit-box-shadow: #969696 2px 2px 5px;
    box-shadow: #969696 2px 2px 5px
}

.text_center {
    text-align: center
}

.text_right {
    text-align: right
}

#header_container {
    min-width: 980px
}

#body_container {
    min-width: 980px
}

#footer_container {
    min-width: 980px
}

.s_header {
    position: relative;
    width: 980px;
    height: 80px;
    margin: 0 auto;
    z-index: 111
}

.s_header p {
    margin: 0;
    padding: 0
}

.s_header h1 {
    position: absolute;
    top: 25px;
    left: 0;
    margin: 0;
    padding: 0
}

.s_header .sub h1 {
    position: absolute;
    top: 25px;
    left: 140px;
    margin: 0;
    padding: 0
}

.s_header h1 a,
.s_header .sub h1 a {
    text-decoration: none
}

.s_header_nav {
    position: relative;
    width: 980px;
    height: 70px;
    margin: 0 auto;
    list-style: none;
    white-space: nowrap;
    z-index: 110
}

.s_header_nav:after {
    content: "";
    display: block;
    clear: both
}

.s_body {
    position: relative;
    width: 980px;
    margin: 0 auto;
    padding: 10px 0
}

.s_body:after {
    content: "";
    display: block;
    clear: both
}

.s_body_top {
    float: left;
    overflow: hidden;
    width: 980px
}

.s_body_bottom {
    float: left;
    overflow: hidden;
    width: 980px
}

.sideA {
    position: relative;
    float: left;
    width: 200px
}

.s_content {
    float: right;
    overflow: hidden;
    width: 765px
}

.s_content a:hover,
.s_content a:active,
.s_content a:focus {
    text-decoration: underline
}

.s_content_top {
    float: left;
    overflow: hidden;
    width: 100%
}

.s_language {
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 100
}

.s_language p {
    display: inline;
    height: 15px;
    line-height: 15px;
    font-size: 11px;
    font-family: Dotum;
    color: #555;
    margin-right: 3px;
    vertical-align: middle
}

.s_language .toggle {
    height: 15px;
    vertical-align: middle;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: 0
}

.s_language ul {
    display: none;
    position: absolute;
    top: 15px;
    right: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #878787;
    background: #fff
}

.s_language li {
    list-style: none
}

.s_language li button {
    display: block;
    width: 100%;
    padding: 3px 8px;
    font-size: 9px;
    color: #767676;
    background: 0;
    border: 0;
    text-align: left;
    white-space: nowrap;
    cursor: pointer
}

.s_language li button:hover,
.s_language li button:active,
.s_language li button:focus {
    color: #333;
    background-color: #e8eef7
}

.topNav {
    position: relative;
    z-index: 1000
}

.tnav {
    position: relative;
    height: 21px;
    margin: 0;
    padding: 0
}

.tnav:after {
    content: "";
    display: block;
    clear: both
}

.tnav p {
    display: block;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    top: 5px;
    left: 0;
    width: 370px;
    height: 21px;
    line-height: 21px;
    font-size: 11px;
    font-family: Dotum, Tahoma, Arial, AppleGothic, sans-serif
}

.tnav ul {
    position: absolute;
    top: 5px;
    right: 0;
    list-style: none;
    white-space: nowrap;
    line-height: 21px;
    margin: 0;
    padding: 0;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.tnav li {
    position: relative;
    float: left;
    font-size: 11px;
    font-family: Dotum, Tahoma, Arial, AppleGothic, sans-serif
}

.tnav li:first-child span {
    border: 0
}

.tnav li a,
.tnav li.my a {
    background: url(../images/default/iconLayout.gif) no-repeat right 30px
}

.tnav li.my a {
    background-position: right 9px
}

.tnav li a {
    display: block;
    float: left;
    height: 21px;
    line-height: 21px;
    background-position: left -107px
}

.tnav li span {
    position: relative;
    padding: 0 6px
}

.tnav li.my span {
    padding-right: 22px;
    background: url(../images/default/iconLayout.gif) no-repeat left -112px
}

.tnav li.my.active a {
    background-position: right -21px
}

.tnav li ul {
    display: none;
    position: absolute;
    float: none;
    top: 21px;
    right: 0;
    padding: 0 1px 1px;
    border: 1px solid #878787;
    background: #fff;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}

.tnav li.active ul {
    display: block
}

.tnav li li {
    float: none;
    left: 0;
    border: 0 !important;
    margin: 0 !important
}

.tnav li li.active {
    background: 0
}

.tnav li.my li a {
    float: none;
    height: 21px;
    color: #767676;
    line-height: 21px;
    padding: 0 6px;
    background-position: right 30px !important
}

.tnav li.my.myLanguage li a {
    padding-right: 21px
}

.tnav li.my.myLanguage li.selected a {
    background-position: right -49px !important
}

.tnav li li a:hover,
.tnav li li a:active,
.tnav li li a:focus {
    color: #333;
    text-decoration: none !important;
    background-color: #e8eef7
}

.s_iSearch {
    position: absolute;
    top: 52px;
    right: 0;
    text-align: right;
    border: 1px solid #b0b0af;
    background: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.s_iSearch .isText {
    position: relative;
    width: 164px;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    padding: 0 1px 0 2px;
    vertical-align: middle;
    border: 0 !important;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

.s_iSearch .submit {
    vertical-align: middle
}

.s_location {
    width: 100%;
    padding: 6px 0;
    height: 13px;
    line-height: 13px;
    border-bottom: 0 solid #dfdfdf;
    overflow: hidden
}

.s_location ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    text-align: right
}

.s_location ul li {
    float: left;
    font-size: 11px;
    font-family: Dotum, Tahoma, Sans-serif;
    color: #888;
    padding: 0 2px
}

.s_location ul li a {
    color: #888
}

.s_location ul li a:hover {
    color: #333
}

.s_location .locationBlank {
    background: none !important
}

#mainNav {
    position: relative;
    width: 980px;
    height: 36px;
    margin: 0 auto;
    list-style: none;
    white-space: nowrap;
    background: #045da2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(#00a0de), to(#045da2));
    background: -webkit-linear-gradient(#00a0de, #045da2 70%);
    background: -moz-linear-gradient(#00a0de, #045da2 70%);
    background: -ms-linear-gradient(#00a0de, #045da2 70%);
    background: -o-linear-gradient(#00a0de, #045da2 70%);
    background: linear-gradient(#00a0de, #045da2 70%);
    -pie-background: linear-gradient(#00a0de, #045da2 70%)
}

#mainNav ul {
    margin: 0;
    padding: 0
}

.s_nav {
    position: absolute;
    overflow: hidden;
    left: 15px;
    white-space: nowrap;
    z-index: 10
}

.s_nav ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0
}

.s_nav ul:after {
    content: "";
    display: block;
    clear: both
}

.s_nav li {
    position: relative;
    float: left;
    height: 36px;
    line-height: 36px;
    left: 0;
    font-size: 13px;
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0
}

.s_nav li a {
    display: block;
    float: left;
    font-weight: normal;
    color: #e8e8e8;
    white-space: nowrap;
    text-decoration: none
}

.s_nav li a span {
    display: block;
    padding: 0 9px
}

.s_nav li a:hover,
.s_nav li a:active,
.s_nav li a:focus {
    color: #fff
}

.s_nav li.active a {
    font-weight: bold;
    color: #fff;
    background: url(../images/default/iconLayout.gif) no-repeat center -67px
}

.s_nav li.backLava {
    position: absolute;
    height: 36px;
    margin: 0;
    background: #66b400;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(#72c400), to(#4a8f00));
    background: -webkit-linear-gradient(#72c400, #4a8f00 70%);
    background: -moz-linear-gradient(#72c400, #4a8f00 70%);
    background: -ms-linear-gradient(#72c400, #4a8f00 70%);
    background: -o-linear-gradient(#72c400, #4a8f00 70%);
    background: linear-gradient(#72c400, #4a8f00 70%);
    -pie-background: linear-gradient(#72c400, #4a8f00 70%)
}

.s_nav li.backLava .leftLava {
    height: 100%;
    margin-right: 10px;
    background: #66b400;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(#72c400), to(#4a8f00));
    background: -webkit-linear-gradient(#72c400, #4a8f00 70%);
    background: -moz-linear-gradient(#72c400, #4a8f00 70%);
    background: -ms-linear-gradient(#72c400, #4a8f00 70%);
    background: -o-linear-gradient(#72c400, #4a8f00 70%);
    background: linear-gradient(#72c400, #4a8f00 70%);
    -pie-background: linear-gradient(#72c400, #4a8f00 70%)
}

.s_navSub {
    position: absolute;
    overflow: hidden;
    left: 17px;
    top: 45px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    z-index: 11
}

.s_navSub li {
    position: relative;
    float: left;
    width: auto;
    left: -2px;
    list-style: none;
    font-size: 12px;
    white-space: nowrap
}

.s_navSub li a {
    letter-spacing: -1px;
    text-decoration: none;
    padding: 0 8px;
    background: url(../images/default/iconLayout.gif) no-repeat left -110px
}

.s_navSub li a:hover,
.s_navSub li a:focus {
    letter-spacing: -1px
}

.s_navSub li.on a {
    font-weight: bold;
    color: #00c !important;
    letter-spacing: -1px;
    border-bottom: 0 solid #666
}

.rollNav {
    position: absolute;
    overflow: hidden;
    left: 15px;
    white-space: nowrap;
    z-index: 10
}

.rollNav ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0
}

.rollNav ul:after {
    content: "";
    display: block;
    clear: both
}

.rollNav li {
    position: relative;
    float: left;
    height: 36px;
    line-height: 36px;
    left: 0;
    font-size: 13px;
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0
}

.rollNav li a {
    display: block;
    float: left;
    font-weight: normal;
    color: #e8e8e8;
    white-space: nowrap;
    text-decoration: none
}

.rollNav li a span {
    display: block;
    padding: 0 9px
}

.rollNav li a:hover,
.rollNav li a:active,
.rollNav li a:focus {
    color: #fff
}

.rollNav li.active a {
    font-weight: bold;
    color: #fff;
    background: url(../images/default/iconLayout.gif) no-repeat center -67px
}

.rollNav li.backLava {
    position: absolute;
    height: 36px;
    margin: 0;
    background: #66b400;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(#72c400), to(#4a8f00));
    background: -webkit-linear-gradient(#72c400, #4a8f00 70%);
    background: -moz-linear-gradient(#72c400, #4a8f00 70%);
    background: -ms-linear-gradient(#72c400, #4a8f00 70%);
    background: -o-linear-gradient(#72c400, #4a8f00 70%);
    background: linear-gradient(#72c400, #4a8f00 70%);
    -pie-background: linear-gradient(#72c400, #4a8f00 70%)
}

.rollNav li.backLava .leftLava {
    height: 100%;
    margin-right: 10px;
    background: #66b400;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(#72c400), to(#4a8f00));
    background: -webkit-linear-gradient(#72c400, #4a8f00 70%);
    background: -moz-linear-gradient(#72c400, #4a8f00 70%);
    background: -ms-linear-gradient(#72c400, #4a8f00 70%);
    background: -o-linear-gradient(#72c400, #4a8f00 70%);
    background: linear-gradient(#72c400, #4a8f00 70%);
    -pie-background: linear-gradient(#72c400, #4a8f00 70%)
}

.rollNavSub {
    position: absolute;
    overflow: hidden;
    left: 17px;
    top: 45px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    z-index: 11
}

.rollNavSub li {
    position: relative;
    float: left;
    width: auto;
    left: -2px;
    list-style: none;
    font-size: 12px;
    white-space: nowrap
}

.rollNavSub li a {
    letter-spacing: -1px;
    text-decoration: none;
    padding: 0 8px;
    background: url(../images/default/iconLayout.gif) no-repeat left -110px
}

.rollNavSub li a:hover,
.rollNavSub li a:focus {
    letter-spacing: -1px
}

.rollNavSub li.on a {
    font-weight: bold;
    color: #00c !important;
    letter-spacing: -1px;
    border-bottom: 0 solid #666
}

.dropNav {
    position: absolute;
    left: 0;
    white-space: nowrap;
    margin-bottom: 10px
}

.dropNav ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0
}

.dropNav ul:after {
    content: "";
    display: block;
    clear: both
}

.dropNav ul ul {
    display: none;
    position: absolute;
    left: 0;
    top: 36px;
    border: 1px solid #b4b3b3;
    border-top: 0;
    background: #fff;
    z-index: 100;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -moz-box-shadow: #969696 2px 2px 5px;
    -webkit-box-shadow: #969696 2px 2px 5px;
    box-shadow: #969696 2px 2px 5px
}

.dropNav ul ul ul {
    display: none;
    position: absolute;
    left: 150px;
    top: -1px;
    border: 1px solid #b4b3b3;
    background: #fff;
    z-index: 100
}

.dropNav li {
    position: relative;
    float: left;
    height: 36px;
    left: 15px;
    line-height: 36px;
    font-size: 13px;
    list-style: none;
    white-space: nowrap;
    z-index: 10
}

.dropNav li.first {
    padding: 0;
    background: 0
}

.dropNav li a {
    display: block;
    color: #e8e8e8;
    white-space: nowrap;
    text-decoration: none
}

.dropNav li a span {
    display: block;
    padding: 0 9px
}

.dropNav li a:hover,
.dropNav li a:active,
.dropNav li a:focus {
    color: #fff
}

.dropNav li.active a {
    font-weight: bold;
    color: #fff;
    background: url(../images/default/iconLayout.gif) no-repeat center -67px
}

.dropNav li li {
    clear: both;
    width: 150px;
    height: 27px;
    line-height: 27px;
    left: 0;
    font-size: 12px;
    padding: 0
}

.dropNav li li.first {
    padding: 0;
    background: 0
}

.dropNav li li a {
    display: block;
    font-weight: normal !important;
    color: #666 !important
}

.dropNav li li a span {
    display: block;
    padding: 0 0 0 10px
}

.dropNav li li a:hover,
.dropNav li li a:active,
.dropNav li li a:focus {
    color: #fff !important;
    background: #0399d4;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec, #0186ba 70%);
    background: -moz-linear-gradient(#04acec, #0186ba 70%);
    background: -ms-linear-gradient(#04acec, #0186ba 70%);
    background: -o-linear-gradient(#04acec, #0186ba 70%);
    background: linear-gradient(#04acec, #0186ba 70%);
    -pie-background: linear-gradient(#04acec, #0186ba 70%)
}

.dropNav li li.active>a {
    font-weight: bold !important;
    color: #666 !important
}

.dropNav li li.active>a:hover,
.dropNav li li.active>a:active,
.dropNav li li.active>a:focus {
    color: #fff !important
}

.dropNav .sub {
    background: url(../images/default/iconLayout.gif) no-repeat 138px -324px
}

.dropNav .sub:hover {
    background-position: 133px -305px
}

.dropNav li.backLava {
    position: absolute;
    height: 36px;
    margin: 0;
    background: #66b400;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(#72c400), to(#4a8f00));
    background: -webkit-linear-gradient(#72c400, #4a8f00 70%);
    background: -moz-linear-gradient(#72c400, #4a8f00 70%);
    background: -ms-linear-gradient(#72c400, #4a8f00 70%);
    background: -o-linear-gradient(#72c400, #4a8f00 70%);
    background: linear-gradient(#72c400, #4a8f00 70%);
    -pie-background: linear-gradient(#72c400, #4a8f00 70%)
}

.dropNav li.backLava .leftLava {
    height: 100%;
    margin-right: 10px;
    background: #66b400;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(#72c400), to(#4a8f00));
    background: -webkit-linear-gradient(#72c400, #4a8f00 70%);
    background: -moz-linear-gradient(#72c400, #4a8f00 70%);
    background: -ms-linear-gradient(#72c400, #4a8f00 70%);
    background: -o-linear-gradient(#72c400, #4a8f00 70%);
    background: linear-gradient(#72c400, #4a8f00 70%);
    -pie-background: linear-gradient(#72c400, #4a8f00 70%)
}

.lnb {
    position: relative;
    width: 198px;
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.lnb2 {
    position: relative;
    width: 198px;
    margin-left: 1px
}

.lnb h3,
.lnb2 h3 {
    margin: 0;
    padding: 0
}

.lnb h3 a,
.lnb2 h3 a {
    display: block;
    color: #333;
    list-style: none;
    white-space: nowrap;
    margin: 0 5px;
    padding: 15px 0 15px 13px;
    border-bottom: 2px solid #777;
    text-decoration: none
}

.sideNav {
    width: 188px;
    margin: 0;
    padding: 10px 5px;
    list-style: none
}

.sideNav li {
    font-size: 12px;
    list-style: none;
    white-space: nowrap;
    margin-bottom: 1px;
    padding: 0
}

.sideNav li a {
    display: block;
    position: relative;
    height: 25px;
    line-height: 25px;
    text-decoration: none
}

.sideNav li a span {
    display: block;
    padding: 0 5px 0 13px
}

.sideNav li a:hover,
.sideNav li a:focus {
    color: #222;
    background: #eff2f7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.sideNav li.active>a {
    font-weight: bold;
    color: #666;
    background: #d8dfea;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.sideNav li ul {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 6px 0 6px 6px;
    border-bottom: 1px solid #ddd
}

.sideNav li ul ul {
    padding: 0 0 0 8px;
    border: 0 !important
}

.sideNav li li {
    font-size: 12px;
    font-family: Dotum, Tahoma, Sans-serif;
    margin: 0
}

.sideNav li li a {
    height: 22px;
    line-height: 22px;
    border: 0 !important;
    background: none !important
}

.sideNav li li a span {
    display: block;
    padding: 0 5px 0 18px
}

.sideNav li li a:hover,
.sideNav li li a:focus {
    color: #222 !important;
    background: #d8dfea !important
}

.sideNav li li.active>a {
    font-weight: bold !important;
    color: #666 !important;
    background: url(../images/default/iconLayout.gif) no-repeat 9px -184px !important
}

.sideNav li li.active>a:hover,
.dropNav li li.active>a:active,
.dropNav li li.active>a:focus {
    color: #333 !important;
    background: #d8dfea !important
}

.treeNav {
    position: relative;
    margin: 1em 0
}

.treeNav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.treeNav ul ul {
    margin: 0 0 0 -3px
}

.treeNav li {
    position: relative;
    padding: 0 0 0 22px;
    white-space: nowrap;
    line-height: 20px;
    background: url(../images/lineTree.gif) no-repeat 9px 0
}

.treeNav li.last {
    background-position: 9px -1766px
}

.treeNav li.active>a {
    font-weight: bold;
    color: #333
}

.treeNav a {
    color: #333;
    text-decoration: none
}

.treeNav a:hover,
.treeNav a:active,
.treeNav a:focus {
    text-decoration: underline
}

.treeNav .treeNavToggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    padding: 0;
    overflow: hidden;
    border: 0;
    font-size: 0;
    color: #fff;
    text-indent: 19px;
    vertical-align: middle;
    background: transparent url(../images/btnPlusMinus.gif) no-repeat;
    cursor: pointer
}

.treeNav .treeNavToggle.plus {
    background-position: 5px -15px
}

.treeNav .treeNavToggle.minus {
    background-position: 5px 5px
}

#login {
    position: relative;
    margin: 0 0 2px 0;
    padding: 0;
    border: 0
}

#login legend {
    display: none;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0
}

#login form {
    position: relative;
    overflow: hidden;
    width: 185px;
    height: 100%;
    padding: 14px 0 11px 13px;
    border: 1px solid #dedede;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

#login form .idpwWrap {
    overflow: hidden;
    clear: both;
    width: 172px;
    height: 39px
}

#login form .idpw {
    float: left;
    width: 120px;
    height: 39px
}

#login form .idpw input {
    float: left;
    overflow: hidden;
    width: 111px;
    height: 14px;
    font-size: .9em;
    font-family: Tahoma;
    color: #282828;
    padding: 2px 3px;
    background: #fff
}

#login form .idpw input.idOff {
    border: 1px solid #ccc;
    background: #fff
}

#login form .idpw input.idOn {
    border: 1px solid #999;
    background: #fff
}

#login form .idpw input.passOff {
    border: solid #ccc;
    border-width: 0 1px 1px 1px;
    background: #fff
}

#login form .idpw input.passOn {
    border: solid #999;
    border-width: 0 1px 1px 1px;
    background: #fff
}

#login form .login {
    float: right
}

#login form p {
    margin: 0;
    padding: 0
}

#login form p.securitySignIn {
    clear: both;
    margin: 4px 0 0 0;
    padding: 0 0 0 18px
}

#login form p.noneSSL {
    background: url(../images/default/iconLayout.gif) no-repeat left -247px
}

#login form p.SSL {
    background-position: left -228px
}

#login form p.noneSSL a {
    color: #bf6801;
    text-decoration: none
}

#login form p.SSL a {
    color: #9cac74;
    text-decoration: none
}

#login form p.save {
    clear: both;
    margin: 1px 0 0 0;
    padding: .3em 0;
    letter-spacing: -1px
}

#login form p.save input {
    margin: -1px -2px 0 0;
    vertical-align: middle
}

*:first-child+html body #login form p input {
    margin: -3px
}

#login form p.save label {
    font-size: .9em;
    font-family: Dotum, AppleGothic, Sans-serif;
    color: #5f6477;
    margin-right: 1px
}

#login form ul.help {
    overflow: hidden;
    margin: 0;
    padding: 5px 0 2px 0;
    letter-spacing: 0;
    white-space: nowrap;
    list-style: none
}

#login form ul.help li {
    float: left;
    padding: 0 5px 0 5px;
    background: url(../images/default/iconLayout.gif) no-repeat left -111px
}

#login form ul.help li.first-child {
    background: 0;
    padding-left: 0
}

#login form ul.help li.first-child a {
    font-weight: bold;
    color: #5f6477;
    text-decoration: none
}

#login form ul.help li a {
    display: block;
    font-size: .9em;
    font-family: Dotum, AppleGothic, Sans-serif;
    color: #5f6477;
    letter-spacing: -1px;
    white-space: nowrap;
    line-height: 13px;
    text-decoration: none
}

#login form ul.help li a:hover {
    color: #00c
}

#login form .userName {
    position: relative;
    overflow: hidden;
    width: 172px;
    font-size: .9em;
    font-family: Dotum, Tahoma, Sans-serif;
    margin: -5px 0 0 0;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #e4e4e4
}

#login form .userName strong {
    font-weight: bold;
    color: #282828;
    padding: 4px 0 0 0
}

#login form .userName a {
    position: relative;
    right: 0
}

#login form .userName .fleft {
    float: left;
    overflow: hidden;
    width: 124px;
    height: 13px;
    margin-top: 4px
}

#userProfilePicture {
    float: left;
    overflow: hidden;
    width: 80px;
    margin: 5px 0 3px 0
}

#userExperience {
    float: left;
    width: 77px;
    font-size: 11px;
    margin: 5px 0 0 8px;
    text-align: left
}

#userExperience .label {
    color: #707070
}

#userExperience .currentPoint {
    color: #696969
}

#userExperience .nextPoint {
    color: #c0c0c0
}

#userExperience .group {
    font-family: Dotum, AppleGothic, Sans-serif;
    color: #696969
}

#login form ul.userMenu {
    clear: both;
    position: relative;
    overflow: hidden;
    line-height: 14px;
    margin: 5px 0 0 0;
    padding: 0 0 0 4px
}

#login form ul.userMenu li {
    float: left;
    width: 80px;
    font-size: 11px;
    font-family: Dotum, AppleGothic, Sans-serif;
    letter-spacing: -1px;
    list-style: none;
    margin-top: 2px;
    padding-left: 6px;
    background: url(../images/default/iconLayout.gif) no-repeat left -271px
}

#login form ul.userMenu li a {
    font-size: 11px;
    font-family: Dotum, AppleGothic, Sans-serif;
    line-height: 14px;
    text-decoration: none
}

#login form p.latestLogin {
    clear: both;
    font-size: .9em;
    font-family: Dotum, AppleGothic, Sans-serif;
    color: #888;
    margin: 0;
    padding: 0 0 0 3px
}

#login form p.latestLogin span {
    font-size: 1em;
    font-family: Tahoma
}

img.login_mask {
    display: block;
    width: 201px;
    height: 5px;
    background: #fff
}

#openid_login {
    position: relative;
    margin: 0 0 2px 0;
    padding: 0;
    border: 0
}

#openid_login legend {
    display: none;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0
}

#openid_login form {
    position: relative;
    width: 172px;
    height: 100%;
    padding: 14px 13px 12px 13px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

#openid_login form .idpwWrap {
    clear: both;
    overflow: hidden;
    width: 172px
}

#openid_login form .idpw {
    float: left
}

#openid_login form .idpw p {
    font-size: .9em;
    font-family: Tahoma;
    color: #999;
    margin: 0 0 5px 0;
    padding: 0 0 0 18px;
    background: url(../images/default/iconLayout.gif) no-repeat left -208px
}

#openid_login form .idpw input {
    float: left;
    overflow: hidden;
    width: 111px;
    font-size: .9em;
    font-family: Tahoma;
    color: #282828;
    margin: 0 0 3px 0;
    padding: 2px 3px;
    border: 1px solid #ccc;
    background: #fff
}

#openid_login form .idpw input.openidOff {
    border: 1px solid #ccc
}

#openid_login form .idpw input.openidOn {
    border: 1px solid #999
}

#openid_login form .login {
    float: right
}

#openid_login form p.save {
    clear: both;
    margin: 0;
    padding: .3em 0
}

#openid_login form p.save input {
    margin: -1px -2px 0 0;
    vertical-align: middle
}

*:first-child+html body #openid_login form p input {
    margin: -3px
}

#openid_login form p.save label {
    font-size: .9em;
    font-family: Dotum, AppleGothic, Sans-serif;
    color: #999
}

#openid_login ul.help {
    overflow: hidden;
    margin: 0;
    padding: 5px 0 0 0;
    border-top: 1px solid #e4e4e4;
    white-space: nowrap
}

#openid_login ul.help li {
    display: block;
    float: left;
    padding: 0 5px 0 5px;
    background: url(../images/default/iconLayout.gif) no-repeat left -111px
}

#openid_login ul.help li.first-child {
    padding-left: 0;
    background: 0
}

#openid_login ul.help li a {
    display: block;
    font-size: .9em;
    font-family: Dotum, AppleGothic, Sans-serif;
    color: #6b7bb3;
    white-space: nowrap;
    text-decoration: none
}

#openid_login ul.help li a:hover {
    color: #999
}

.point_status {
    clear: both;
    width: 168px;
    padding: 2px 0 0 4px;
    border-bottom: 0;
    margin: 0
}

.point_status:after {
    clear: both;
    content: "";
    display: block
}

.point_status dt {
    font-size: 12px;
    font-family: Tahoma;
    font-weight: bold
}

.point_status dd {
    margin: 0
}

.point_status dd.graph {
    overflow: hidden;
    height: 5px;
    font-size: 0;
    line-height: 0;
    background: #e5e5e5
}

.point_status dd.graph img {
    width: 0
}

.point_status dd.point {
    float: left;
    font-size: 10px;
    font-family: Tahoma;
    color: #888
}

.point_status dd.percentage {
    float: right;
    font-size: 10px;
    font-family: Tahoma;
    color: #888
}

.point_status dt {
    color: #333
}

.slideWrap {
    margin: 0 auto
}

.slideWrap .slideArea {
    position: relative;
    z-index: 2
}

.slideWrap .slideArea #slideBar {
    position: absolute;
    width: 100px;
    top: 0;
    right: -115px
}

.slideWrap .slideArea #slideBar .section {
    margin: 0
}

.slideWrap .slideArea #slideBar p {
    margin-top: 7px;
    text-align: center
}

#sitemapWrap {
    clear: both;
    position: relative;
    width: 980px;
    margin: 0 auto;
    padding: 5px 0;
    z-index: 1
}

#sitemap {
    clear: both;
    position: relative;
    width: 978px;
    margin: 0 auto;
    border: 1px solid #dedede;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

#sitemap a {
    color: #888
}

#sitemap a:hover,
#sitemap a:active,
#sitemap a:focus {
    color: #333
}

#sitemap .menu_location {
    overflow: hidden;
    height: 31px;
    line-height: 31px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dedede
}

#sitemap .menu_location a,
#sitemap .menu_location a:visited {
    display: inline-block;
    height: 31px;
    color: #666;
    padding-right: 10px;
    text-decoration: none
}

#sitemap .menu_location a:hover {
    color: #333
}

#sitemap .menu_location p {
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0
}

#sitemap .menu_location p img {
    margin-top: 7px;
    padding-left: 10px
}

#sitemap .menu_location ul {
    position: absolute;
    left: 35px;
    margin: 0;
    padding: 0
}

#sitemap .menu_location li {
    float: left;
    font-size: 11px;
    font-family: Dotum, Tahoma, AppleGothic, sans-serif;
    font-weight: bold;
    list-style: none;
    padding-left: 18px;
    background: url(../images/bc_separator.png) no-repeat -15px center
}

#sitemap .extension {
    clear: both;
    position: relative;
    font-family: Dotum, Tahoma, AppleGothic, sans-serif;
    padding: 12px 0 0 20px
}

#sitemap .extension:after {
    clear: both;
    display: block;
    content: ""
}

#sitemap .extension .section {
    float: left;
    width: 125px;
    margin: 0;
    padding: 0 10px 6px 0
}

#sitemap .extension .section h3 {
    font-size: 11px;
    margin: 0 0 10px 0;
    padding: 0
}

#sitemap .extension .section h3 a {
    color: #666
}

#sitemap .extension .section ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#sitemap .extension .section li {
    font-size: 11px;
    margin-bottom: 6px
}

#footer {
    clear: both;
    position: relative;
    width: 980px;
    margin: 0 auto;
    padding: 5px 0 25px 0
}

#footer .footNav {
    position: relative;
    overflow: hidden;
    height: 15px;
    margin: 0;
    padding: 15px 0 5px;
    text-align: center;
    border-top: 1px solid #ddd
}

#footer .footNav li {
    display: inline;
    white-space: nowrap;
    padding: 0 1px 0 6px;
    background: url(../images/default/iconLayout.gif) no-repeat left -109px
}

#footer .footNav li a:hover {
    text-decoration: underline
}

#footer .footNav li.snb_0 {
    background: 0
}

#footer select {
    position: absolute;
    width: 120px;
    height: 18px;
    top: 20px;
    right: 15px;
    font-size: 11px;
    color: #777;
    border: 1px solid #dedede
}

#footer p {
    margin: 0;
    padding: 0
}

#footer p.top {
    position: relative;
    padding: 8px 0;
    border-top: 1px solid #dedede
}

#footer p.copyright {
    position: relative;
    font-size: 11px;
    font-family: Dotum, Tahoma, AppleGothic, sans-serif;
    color: #666;
    line-height: 13px;
    text-align: center
}

#footer address {
    position: relative;
    font-size: 11px;
    font-style: normal;
    padding-top: 3px;
    text-align: center
}

#footer .skinby {
    position: absolute;
    top: 40px;
    right: 15px;
    font-size: 11px;
    color: #888
}

#s_popup {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 97px;
    left: 676px;
    border: 1px solid #999;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: normal;
    background: #fff;
    white-space: normal;
    color: #767676;
    z-index: 10004
}

#s_popup .ntext {
    width: 260px;
    height: 260px;
    padding: 20px
}

#s_popup .nimg {
    padding: 0
}

#s_popup .ncheck {
    width: 267px;
    height: 30px;
    line-height: 30px;
    padding-right: 33px;
    color: #555;
    text-align: right;
    background: #f3f3f3 !important
}

#s_popup .ncheck .close {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
    text-align: center;
    font-size: 13px/25px;
    font-family: Verdana, Geneva, sans-serif;
    color: #555;
    text-decoration: none !important
}