<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="saleboardSQL">
  	<select id="saleboardGetList" parameterType="java.util.Map" resultType="saleboard.bean.SaleboardDTO">
 		select * from 
	 	(select rownum rn, tt.* from 
	 	(select * from saleboard order by sale_seq desc ) tt)
	 	where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<select id="getTotalA" resultType="int">
 		select count(*) from saleboard
 	</select>
 	
 	<select id="saleboardSearch" parameterType="java.util.Map" resultType="saleboard.bean.SaleboardDTO">
 			select * from saleboard where
 		<if test="searchType == 'searchId'">
 			member_id like '%'|| #{value} ||'%'
 		</if>
 		
 		<if test="searchType == 'searchSubject'">
 			sale_subject like '%'|| #{value}|| '%'
 		</if>

 		<if test="searchType == 'searchContent'">
 			sale_content like '%'|| #{value} '%'
 		</if>
 	</select> 	
     	
  	<insert id="saleboardWrite" parameterType="saleboard.bean.SaleboardDTO">
 		insert into saleboard (
 			sale_status,
			sale_subject,
			sale_price,
			sale_nego_YN,
			sale_category,
			sale_content,
			member_id,
			sale_logtime,
			sale_hide,
			sale_image1,
			sale_image2,
			sale_image3,
			sale_image4,
			sale_image5,
			member_profilePic,
			location_dong,
			sale_free_YN,
			sale_ad_YN,
			member_reputation,
			sale_seq)	
 		values(
	 		#{sale_status},
			#{sale_subject},
			#{sale_price},
			#{sale_nego_YN},
			#{sale_category},
			#{sale_content},
			#{member_id},
			sysdate,
			#{sale_hide},
			#{sale_image1},
			#{sale_image2},
			#{sale_image3},
			#{sale_image4},
			#{sale_image5},
			#{member_profilePic},
			#{location_dong},
			#{sale_free_YN},
			#{sale_ad_YN},
			#{member_reputation},
			seq_sale.nextval
 		) 
 	</insert>
 	
 	<update id="saleboardModify" parameterType="saleboard.bean.SaleboardDTO">
 		update saleboard set sale_category=#{sale_category}, sale_status=#{sale_status}, sale_price=#{sale_price}, 
 							 sale_subject=#{sale_subject}, sale_content=#{sale_content}, sale_free_YN=#{sale_free_YN},
							 sale_image1=#{sale_image1}, sale_image2=#{sale_image2}, sale_image3=#{sale_image3}, sale_image4=#{sale_image4}, sale_image5=#{sale_image5} 		
 		 			   where sale_seq=#{sale_seq}
 	</update>

	<delete id="saleboardDelete" parameterType="Integer"> 
 		delete saleboard where sale_seq=#{sale_seq}
 	</delete>
 	
 	<select id="saleboardGetView" parameterType="Integer" resultType="saleboard.bean.SaleboardDTO">
 		select * from saleboard where sale_seq = #{sale_seq}
 	</select> 	

	<select id="saleboardGetListId" parameterType="java.util.Map" resultType="saleboard.bean.SaleboardDTO">
 		select * from 
	 		(select rownum rn, tt.* from 
	 			(select * from saleboard order by sale_seq desc) 
 			tt)
	 	where member_id=#{member_id} and rn between #{startNum} and #{endNum} and sale_seq != #{sale_seq}
 	</select>

 	<select id="member_idLoad" parameterType="java.lang.String" resultType="saleboard.bean.SaleboardDTO">
 		select * from saleboard where sale_seq = #{sale_seq}
 	</select>

	<update id="saleboardPick1" parameterType="saleboard.bean.SaleboardDTO">
	   update saleboard set sale_heart_count = sale_heart_count + 1
	   where sale_seq = #{sale_seq}
	</update>
	
	<insert id="saleboardPick2" parameterType="java.util.Map">
	   insert into interestList (member_id, sale_seq)
	   	values(#{member_id}, #{sale_seq})
	</insert> 	
 
 	<update id="saleboardPickCancel1" parameterType="saleboard.bean.SaleboardDTO">
	   update saleboard set sale_heart_count = sale_heart_count - 1
	   where sale_seq = #{sale_seq}
	</update>
	
	<delete id="saleboardPickCancel2" parameterType="java.util.Map">
	   delete from interestList where member_id = #{member_id} and sale_seq = #{sale_seq} 
	</delete>
	
	<update id="saleboardHit" parameterType="Integer">
	   update saleboard set sale_hit = sale_hit + 1
	   where sale_seq = #{sale_seq}
	</update>	
	
	<insert id="saleboardFollow" parameterType="java.util.Map">
		insert into follow(member_id, following_id) values(#{member_id},#{following_id})
	</insert>

 </mapper>