@charset "UTF-8";
@import "./reset.css";

/* #headBox */

#headBox {
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    z-index: 2000;
}

#headBox>.inner {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headBox>.inner>h1 {
    margin-right: 20px;
}

#headBox>.inner>h1 .logo {
    width: auto;
    height: 36px;
}

#headBox>.inner>.search_box {
    width: 100%;
    height: 40px;
    border: 1px solid #ff843d;
    margin-right: 20px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

#headBox>.inner>.search_box>fieldset {
    width: 100%;
    height: 100%;
}

#headBox>.inner>.search_box>fieldset #searchPrd {
    display: block;
    width: 100%;
    border: none;
    height: 100%;
    padding: 0px 60px 0px 20px;
    box-sizing: border-box;
    font-size: 18px;
}

#headBox>.inner>.search_box>fieldset button[type="submit"] {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #ff843d;
    background: transparent;
}

#headBox>.inner>.category {
    display: flex;
}

#headBox>.inner>.category>li {
    white-space: nowrap;
    border: 1px solid;
    padding: 0px 10px;
    height: 40px;
    line-height: 34px;
    border-radius: 20px;
    color: #ff843d;
    font-size: 18px;
    box-sizing: border-box;
}

#headBox>.inner>.category>li:hover {
    background: #ff843d;
    color: #fff;
}

#headBox>.inner>.category>li+li {
    margin-left: 10px;
}

#headBox>.inner>.category>li>a>i {
    font-size: 20px;
}

#headBox>.inner>.login>li {
    white-space: nowrap;
    padding: 6px 0px 2px 10px;
    color: #000000;
    font-size: 11px;
}


/* #headBox>.inner>.btnbox_search>button 수정 해야하지만 일단 잘 돌아감 */

#headBox>.inner>.btnbox_search>button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #ffffff;
    background: transparent;
}


/* nav */

#nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#nav .menu {
    display: none;
}

#nav h1 {
    float: left;
    color: #fff;
    font-size: 40px;
    font-family: 'Abel';
    padding: 5px 5px 5px 15px;
}

#nav ul {
    float: right;
    padding-right: 10px;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    display: inline-block;
    padding: 20px 15px;
    color: #ff843d;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Abel';
}

#nav ul li.active a {
    color: #ff843d;
}

#nav .ham {
    display: none;
    position: absolute;
    top: 23px;
    right: 0px;
    width: 65px;
    height: 45px;
    cursor: pointer;
}


/* icon-wrap */

.ham span {
    display: block;
    background: #ff843d;
    width: 42px;
    height: 4px;
    border-radius: 3px;
    transition: margin 0.25s 0.25s, transform 0.25s;
}

.ham .bar1 {
    margin-bottom: 8px;
}

.ham .bar2 {}

.ham .bar3 {
    margin-top: 8px;
}

.ham.active span {
    transition: margin 0.25s, transform 0.25s 0.25s;
}

.ham.active .bar1 {
    margin-top: 8px;
    margin-bottom: -4px;
    transform: rotate(45deg);
}

.ham.active .bar2 {
    transform: rotate(45deg);
}

.ham.active .bar3 {
    margin-top: -4px;
    transform: rotate(135deg);
}


/* #visualBox */

#visualBox {
    height: 720px;
    box-sizing: border-box;
    padding-top: 200px;
    background-color: #f1f3f5;
}

#visualBox>.inner {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#visualBox>.inner>h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

#visualBox>.inner>h1+p {
    text-align: center;
    font-size: 18px;
}

#visualBox>.inner>.btnbox_down {
    display: none;
}

#visualBox>.inner>.visual_img {
    position: absolute;
    width: 760px;
    height: 400px;
    /*
    background: url('../img/phone-ee2960c1cbf1e932ac291ad59eacc55ef6dc3cab3e9e4ea4284c4e0256bb9f4c.png') bottom left no-repeat;
    */
    bottom: 0px;
    left: 0px;
}

#visualBox>.inner>.rank_box {
    width: 210px;
    position: absolute;
    top: 100px;
    left: 750px;
}

#visualBox>.inner>.rank_box>h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    text-align: center;
    font-size: 18px;
}

#visualBox>.inner>.rank_box>ol {
    counter-reset: rank;
}

#visualBox>.inner>.rank_box>ol>li {
    display: flex;
    counter-increment: rank;
    margin-bottom: 16px;
    font-size: 16px;
}

#visualBox>.inner>.rank_box>ol>li::before {
    content: counter(rank);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
}

#visualBox>.inner>.rank_box>ol>li>a {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#visualBox>.inner>.rank_box>ol.rank_list>li a span {
    font-size: 12px;
}

#visualBox>.inner>.rank_box>ol.rank_list>li:hover a,
#visualBox>.inner>.rank_box>ol.rank_list>li:hover a span {
    color: #ff843d;
}

#visualBox>.inner>.rank_box>ol>li>a .change {
    font-size: 12px;
}

#visualBox>.inner>.rank_box>ol>li>a .up {
    color: red;
}

#visualBox>.inner>.rank_box>ol>li>a .up::before {
    content: "▲";
}

#visualBox>.inner>.rank_box>ol>li>a .down {
    color: blue;
}

#visualBox>.inner>.rank_box>ol>li>a .down::before {
    content: "▼";
}

#visualBox>.inner>.rank_box>ol>li>a .new {
    color: red;
}

#visualBox>.inner>.rank_box>ol>li>a .nochange::before {
    content: "-";
}

.nav {
    display: none;
}


/* #hotBox */

#hotBox {
    padding: 120px 0px;
}

#hotBox>.inner {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hotBox>.inner>h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}

#hotBox>.inner>h1::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: #ff843d;
    margin: 40px auto;
}

#hotBox>.inner>article {
    width: 224px;
    height: auto;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 40px;
}

#hotBox>.inner>article:hover {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-4px)
}

#hotBox>.inner>article>a {
    display: block;
    width: 100%;
    height: 100%;
}

#hotBox>.inner>article>a>.img_prd {
    overflow: hidden;
    padding-top: 60%;
    position: relative;
}

#hotBox>.inner>article>a>.img_prd>img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#hotBox>.inner>article>a>.prd_information {
    width: 100%;
    height: 140px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hotBox>.inner>article>a>.prd_information>.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
}

#hotBox>.inner>article>a>.prd_information>.address {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #666;
    font-size: 16px;
}

#hotBox>.inner>article>a>.prd_information>.price {
    font-weight: 600;
    font-size: 16px;
    color: #ff843d;
}

#hotBox>.inner>article>a>.prd_information>.interaction {
    display: flex;
    font-size: 14px;
    color: #999;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#hotBox>.inner>article>a>.prd_information>.interaction>p+p {
    margin-left: 16px;
    position: relative;
}

#hotBox>.inner>article>a>.prd_information>.interaction>p+p::before {
    content: '·';
    position: absolute;
    left: -9px;
}

#hotBox>.inner>article.more {
    text-align: center;
}

#hotBox>.inner>article.more>a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px 0;
    box-sizing: border-box;
}

#hotBox>.inner>article.more>a::before {
    content: "+";
    display: block;
    width: 100%;
    font-size: 40px;
}


/* #introductionBox */

#introductionBox {
    padding: 120px 0px;
    background-color: #f5f5f5;
}

#introductionBox>.inner {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#introductionBox>.inner>h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}

#introductionBox>.inner>h1::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: #ff843d;
    margin: 40px auto;
}

#introductionBox>.inner>article {
    width: 300px;
    margin-bottom: 80px;
    text-align: center;
}

#introductionBox>.inner>article>.icon {
    width: 230px;
    height: 230px;
    background-color: #fa0;
    margin: 0 auto;
    margin-bottom: 28px;
    background: url('../img/icon-set.png') no-repeat;
}

#introductionBox>.inner>article:nth-of-type(2)>.icon {
    background-position: 0 -230px;
}

#introductionBox>.inner>article:nth-of-type(3)>.icon {
    background-position: 0 -460px;
}

#introductionBox>.inner>article:nth-of-type(4)>.icon {
    background-position: 0 -690px;
}

#introductionBox>.inner>article:nth-of-type(5)>.icon {
    background-position: 0 -920px;
}

#introductionBox>.inner>article:nth-of-type(6)>.icon {
    background-position: 0 -1150px;
}

#introductionBox>.inner>article>h2 {
    margin-bottom: 8px;
    font-size: 24px;
}

#introductionBox>.inner>article>h2+p {
    line-height: 1.5;
}


/* #reviewBox */

#reviewBox {
    padding: 120px 0px;
}

#reviewBox>.inner {
    max-width: 980px;
    margin: 0 auto;
}

#reviewBox>.inner>h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}

#reviewBox>.inner>h1::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: #ff843d;
    margin: 40px auto;
}

#reviewBox>.inner>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#reviewBox>.inner>ul>li {
    width: 280px;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.6;
    position: relative;
}

#reviewBox>.inner>ul>li::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    background: url('../img/icon-set.png') -172px -1380px no-repeat;
}

#reviewBox>.inner>ul>li>p {
    display: inline;
}

#reviewBox>.inner>ul>li>p.address {
    color: #ff843d;
}

#reviewBox>.inner>ul>li>p.address::before {
    content: '- ';
}


/* #footBox */

#footBox {
    background-color: #495057;
    color: #fff;
    text-align: center;
    padding: 60px 0 80px;
    font-size: 15px;
    line-height: 1.5;
}

#footBox a:hover {
    text-decoration: underline;
}

#footBox>#inb {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    margin-bottom: 20px;
}

#footBox>#inb>li+li {
    margin-left: 40px;
    position: relative;
}

#footBox>#inb>li+li::before {
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    background-color: #888;
    position: absolute;
    top: 4px;
    left: -20px;
}

#footBox>.addresss_list {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 20px;
}

#footBox>.addresss_list>li {
    text-align: left;
}

#footBox>.addresss_list>li+li {
    margin-left: 40px;
    position: relative;
}

#footBox>.addresss_list>li+li::before {
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    background-color: #888;
    position: absolute;
    top: 4px;
    left: -20px;
}

#footBox>.copyright {
    display: block;
    padding-top: 4px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #999;
}

#footBox>.sns_list {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

#footBox>.sns_list>li {
    width: 50px;
    height: 50px;
    border: 1px solid;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.7;
}

#footBox>.sns_list>li:hover {
    opacity: 1;
}

#footBox>.sns_list>li+li {
    margin-left: 30px;
}

#footBox>.sns_list>li>a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#footBox>.sns_list>li>a:hover {
    text-decoration: none;
}


/* 마이페이지 */

.memberup {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #585757;
    font: normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
    background: #fff;
}

.main {
    padding: 0;
    margin: 0;
}

.main {}

.clr {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    line-height: 0;
}

.memberup>h2 {
    margin: 8px 0;
    padding: 8px 0;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2em;
    color: #585757;
    text-transform: none;
}

.memberup>p {
    margin: 8px 0;
    padding: 0 0 8px 0;
}

.memberup>a {
    color: #df4b49;
    text-decoration: underline;
}

.content,
.memberup>ul,
.content .mainbar,
.content .sidebar {
    margin: 0;
    padding: 0;
}

.memberup>h1 {
    margin: 0;
    padding: 40px 0 0 20px;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 2px;
}

.memberup>h1 a,
.memberup>h1 a:hover {
    color: #df4b49;
    text-decoration: none;
}

.memberup>h1 span {}

.content {
    padding: 40px 0 0;
    background: repeat-x left bottom;
}

.content_resize {
    margin: 0 auto;
    padding: 100px 0 40px;
    width: 960px;
    background: repeat-y left top;
}

.content .mainbar {
    margin: 0;
    padding: 0;
    float: right;
    width: 680px;
}

.content .mainbar h2 {
    margin-bottom: 4px;
}

.content .mainbar div.img {
    padding: 12px 0;
    float: left;
}

.content .mainbar img {}

.content .mainbar img.fl {
    margin: 0;
    border: 1px solid #dcdee2;
}

.content .mainbar .article {
    margin: 0 0 16px;
    padding: 8px 20px 30px;
    background: #ededed;
}

.content .mainbar .post_content {
    float: right;
    width: 440px;
}

.content .mainbar .post_content strong {
    color: #585757;
}

.content .sidebar {
    padding: 0;
    float: left;
    width: 260px;
}

.content .sidebar .gadget {
    margin: 0 0 16px;
    padding: 24px 20px 30px;
    background: #ededed;
}

.content .sidebar h2 {
    margin: 0 -20px 0 0;
    padding: 6px 12px 4px;
    color: #fff;
    background: #df4b49;
}

ul.sb_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #959595;
}

ul.sb_menu li {
    margin: 0;
}

ul.sb_menu li {
    padding: 8px 0;
    width: 220px;
}

ul.sb_menu li a {
    color: #585757;
    text-decoration: none;
    margin-left: 0;
    padding: 4px 8px 4px 0;
}

ul.sb_menu li a:hover {
    color: #df4b49;
    font-weight: bold;
    text-decoration: none;
}

.content .mainbar .comment {
    margin: 0;
    padding: 16px 0 0 0;
}

;
.content .mainbar .comment img.userpic {
    border: 1px solid #dedede;
    margin: 10px 16px 0 0;
    padding: 0;
    float: left;
}

.memberup>a {
    outline: none;
}

.memberuptext>h3 {
    color: #66269a;
    text-align: center;
    text-indent: 1em;
}

.memberuptext {
    width: 100%;
    height: 80%;
    margin: 0;
}

.memberupwrite>::placeholder {
    font-size: 0.7em;
    vertical-align: middle;
}

.memberupwriteid {
    margin: 20px 0;
}

.memberupwrite {
    margin: 20px 0;
}

.memberupwrite2 {
    height: 130px;
}

.memberupwrite3 {
    margin-left: 40px;
}

.memberupwriteid3>label {
    margin-left: 100px;
    font-weight: bold;
}

.memberupwriteid>label {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 0 0 0 50px;
    font-weight: bold;
    font-size: 10pt;
}

.memberupwrite>label {
    display: inline-block;
    width: 25%;
    text-align: left;
    padding: 0 0 0 50px;
    font-weight: bold;
    font-size: 10pt;
}

.memberupwrite4>label {
    display: inline-block;
    width: 100%;
    color: #919191;
    text-align: left;
    padding: 0 0 0 50px;
    font-size: 9pt;
}

.memberupwriteid>input[type=text],
.memberupwriteid>input[type=email],
.memberupwriteid>input[type=password] {
    width: 300px;
    height: 35px;
    text-indent: 1.5em;
}

.memberupwriteid>input[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.memberupwrite>input[type=text],
.memberupwrite>input[type=email],
.memberupwrite>input[type=password] {
    width: 300px;
    height: 35px;
    text-indent: 1.5em;
}

.memberupwrite>input[type=text]:focus,
.memberupwrite>input[type=email]:focus,
.memberupwrite>input[type=password]:focus {
    background: #efddff;
}

.memberupwrite>.hidden {
    display: none;
    font-size: 12pt;
    border: 0;
}

.memberuptext>.sbm {
    width: 300px;
    height: 45px;
    margin: 20px 10px 10px 160px;
    background: #ff8080;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    border: 0;
}

.memberuptext>.sbm2 {
    width: 300px;
    height: 45px;
    margin: 20px 10px 10px 160px;
    background: #ffffff;
    color: rgb(255, 121, 121);
    font-size: 18px;
    border-radius: 4px;
    border-color: rgb(255, 121, 121);
}


/* 타블렛 버전 */

@media screen and (max-width: 900px) {
    /* #headBox */
    #headBox>.inner {
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
    }
    #headBox>.inner>.category {
        display: none;
    }
    #headBox>.inner>.login {
        display: none;
    }
    /* #nav */
    #nav {
        display: block;
    }
    #nav .menu {
        display: none;
    }
    #nav .ham {
        display: block;
    }
    #nav h1 {
        width: 100%;
    }
    #nav .menu {
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #nav .menu li {
        background: #b5db92e0;
        width: 100%;
        display: inline-block;
    }
    #nav .menu li.active {
        background: #b5db92e0;
    }
    /* #visualBox */
    #visualBox {
        height: 780px;
    }
    #visualBox>.inner {
        width: 100%;
    }
    #visualBox>.inner>h1 {
        font-size: 30px;
    }
    #visualBox>.inner>.btnbox_down {
        display: block;
        width: 300px;
        height: 60px;
        margin: 20px auto;
        background-color: #ff843d;
        color: #fff;
        line-height: 60px;
        border-radius: 8px;
        font-size: 18px;
    }
    #visualBox>.inner>.btnbox_down>a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    #visualBox>.inner>.visual_img {
        width: 100%;
        background-position: bottom center;
    }
    #visualBox>.inner>.rank_box {
        width: 100%;
        top: unset;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        padding: 16px 0;
        background: #ddd;
        flex-wrap: wrap;
        line-height: 2;
    }
    #visualBox>.inner>.rank_box>h2 {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
        font-size: 16px
    }
    #visualBox>.inner>.rank_box>ol {
        display: flex;
    }
    #visualBox>.inner>.rank_box>ol>li {
        margin-left: 20px;
        margin-bottom: 0px;
    }
    #visualBox>.inner>.rank_box>ol>li:nth-child(n+6) {
        display: none;
    }
    #visualBox>.inner>.rank_box>ol>li::before {
        display: none;
    }
    #visualBox>.inner>.rank_box>ol>li>a>.rank {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        top: -9999px;
        left: -9999px;
        z-index: -9999;
    }
    /* #hotBox */
    #hotBox {
        padding: 120px 0px;
    }
    #hotBox>.inner {
        width: 100%;
        justify-content: space-around;
        padding: 0 20px;
        box-sizing: border-box;
    }
    #hotBox>.inner>article {
        width: 30%;
    }
    /* #introductionBox */
    #introductionBox>.inner {
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
        justify-content: space-around;
    }
    /* #reviewBox */
    #reviewBox>.inner {
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
    }
    #reviewBox>.inner>ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #reviewBox>.inner>ul>li {
        width: 100%;
    }
    /* #footBox */
    #footBox {
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
    }
    #footBox>#inb {
        display: flex;
        justify-content: center;
        height: auto;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    #footBox>#inb>li+li {
        margin-left: 20px;
        position: relative;
    }
    #footBox>#inb>li+li::before {
        display: none;
    }
    #footBox>.addresss_list {
        height: auto;
        display: block;
    }
    #footBox>.addresss_list>li {
        text-align: center;
    }
    #footBox>.addresss_list>li+li {
        margin-left: 0;
        position: static;
    }
    #footBox>.addresss_list>li+li::before {
        display: none;
    }
    #footBox>.copyright {
        display: block;
        padding-top: 4px;
        margin-bottom: 20px;
        font-size: 15px;
        color: #999;
    }
}