<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="localCommunityboardSQL">
 
	 <select id="localCommunityboardGetList" parameterType="java.util.Map" resultType="localCommunityboard.bean.LocalCommunityboardDTO">
	 	select * from 
	 		(select rownum rn, tt.* from 
	 			(select * from localcommunityboard
	 			<if test="localcommunity_user_id != null">
	 				where location_dong=(select location_dong from locationConfirm where member_id=#{localcommunity_user_id})
				</if>
				order by localcommunity_seq desc) 
 			tt)
	 	where rn between #{startNum} and #{endNum}
	 </select>
	 
	 <select id="getTotalA" parameterType="java.util.Map" resultType="Integer">
	 	select count(*) from localcommunityboard
				<if test="localcommunity_user_id != null">
	 				where location_dong=(select location_dong from locationConfirm where member_id=#{localcommunity_user_id})
				</if>
	 </select>
	 
	 <select id="searchDong" parameterType="String" resultType="String">
	 	select location_dong from locationconfirm where member_id = #{user_id}
	 </select>
	 

	 <insert id="localCommunityboardWrite" parameterType="localCommunityboard.bean.LocalCommunityboardDTO">
	 	insert into localcommunityboard(localcommunity_seq
	 									,localcommunity_subject
	 									,location_dong
	 									,localcommunity_content
	 									,localcommunity_image
	 									,localcommunity_logtime
	 									,localcommunity_user_id
	 									)values(
	 									seq_localcommunity.nextval
	 									,#{localcommunity_subject}
	 									,#{location_dong}
	 									,#{localcommunity_content}
	 									,#{localcommunity_image}
	 									,sysdate
	 									,#{localcommunity_user_id}
	 									)
	 </insert>
	 
	 <update id="localCommunityboardModify" parameterType="localCommunityboard.bean.LocalCommunityboardDTO">
	 	update localcommunityboard set
	 		localcommunity_subject = #{localcommunity_subject}
	 		,localcommunity_content = #{localcommunity_content}
	 		,localcommunity_image = #{localcommunity_image}
	 		,localcommunity_logtime = #{localcommunity_logtime}
	 		where localcommunity_seq = #{localcommunity_seq}
	 </update>
	 
	 
	 <delete id="localCommunityboardDelete" parameterType="String">
	 	delete localcommunityboard where localcommunity_seq=#{localcommunity_seq}
	 </delete>
	 
	 <select id="localCommunityboardGetView" parameterType="String" resultType="localCommunityboard.bean.LocalCommunityboardDTO">
	 	select * from localcommunityboard where localcommunity_seq = #{localcommunity_seq}
	 </select>
	 
	 <select id="localCommunityboardSearch" parameterType="localCommunityboard.bean.LocalCommunityboardDTO" resultType="localCommunityboard.bean.LocalCommunityboardDTO">
	 	select * from localcommunityboard where
	 	<if test="searchType == 'searchId'">
	 		localcommunity_user_id like '%'|| #{localcommunity_user_id} ||'%'
	 	</if>
	 	<if test="searchType == 'searchSubject'">
	 		localcommunity_subject like '%'|| #{localcommunity_subject} ||'%'
	 	</if>
	 </select>
	 
	 <update id="localCommunityboardHit">
	 	update localcommunityboard set localcommunity_hit = localcommunity_hit+1
	 	where localcommunity_seq = #{localcommunity_seq}
	 </update>
	 
 </mapper>