<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="phoneSQL">
 	

 	<insert id="phoneCheck" parameterType="message">
 		insert into certificationCheck values(#{phone}, #{certificationNumber}, sysdate)
 	</insert>
 	
 	<select id="checkSMS" parameterType="String" resultType="message">
 		select * from certificationCheck where certificationNumber = #{certificationNumber}
 	</select>
 	
 	
 </mapper>