<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="myPageSQL">
 	<select id="myCommunityGetList" parameterType="java.util.Map" resultType="communityboard.bean.CommunityboardDTO">
 		select * from 
	 	(select rownum rn, tt.* from 
	 	(select * from communityboard where communityboard_user_id = #{communityboard_user_id}
	 	order by communityboard_seq desc) tt)
	 	where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<select id = "myTotalA" parameterType="String"   resultType="int">
 		select count(*) from communityboard where communityboard_user_id = #{communityboard_user_id};
 	</select>
 	
 	<select id="myCommunityCommentGetList" parameterType="java.util.Map" resultType="communityboardComment.bean.CommunityboardCommentDTO">
 		select * from 
	 	(select rownum rn, tt.* from 
	 	(select * from communityboard_Comment where communityboard_comment_user_id = #{communityboard_comment_user_id}
	 	order by communityboard_seq desc, communityboard_comment_seq desc ) tt)
	 	where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<select id="myCommentTotalA" parameterType="String" resultType="int">
 		select count(*) from communityboard_Comment where communityboard_comment_user_id = #{communityboard_comment_user_id};
 	</select>
 	
 	
 	<select id="myLocalGetList"  parameterType="java.util.Map" resultType="localCommunityboard.bean.LocalCommunityboardDTO">
 		select * from 
	 	(select rownum rn, tt.* from 
	 	(select * from localcommunityboard where localcommunity_user_id = #{localcommunity_user_id}
	 	order by localcommunity_seq desc) tt)
	 	where rn between #{startNum} and #{endNum}
 	</select>
 		
 	<select id = "myLocalTotalA" parameterType="String" resultType="int">
 		 select count(*) from localcommunityboard where localcommunity_user_id = #{localcommunity_user_id};
 	</select>
 	
 	<select id="myLocalCommentGetList" parameterType="java.util.Map" resultType="localCommunityboardComment.bean.LocalCommunityboardCommentDTO">
 		select * from 
	 	(select rownum rn, tt.* from 
	 	(select * from localCommunityboard_comment where localcommunity_comment_user_id = #{localcommunity_comment_user_id}
	 	order by localcommunity_seq desc, localcommunity_comment_seq desc ) tt)
	 	where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<select id = "myLocalCommentTotalA" parameterType="String" resultType="int">
 		 select count(*) from localCommunityboard_comment where localcommunity_comment_user_id = #{localcommunity_comment_user_id};
 	</select>
 	
 	
 	<select id="mySaleGetList" parameterType="java.util.Map" resultType="saleboard.bean.SaleboardDTO">
 		select * from 
	 	(select rownum rn, tt.* from 
	 	(select * from saleboard where member_id=#{member_id} order by sale_seq desc ) tt)
	 	where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<select id="mySaleTotalA" parameterType="String" resultType="int">
 		select count(*) from saleboard where member_id=#{member_id}
 	</select>
 	
 	
 	<select id="myBuyerGetList" parameterType="java.util.Map" resultType="buyerboard.bean.BuyerboardDTO">
 		select * from 
	 	(select rownum rn, tt.* from 
	 	(select * from buyerboard where member_id=#{member_id} order by buyerboard_seq desc ) tt)
	 	where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<select id="myBuyerTotalA" parameterType="String" resultType="int">
 		select count(*) from buyerboard where member_id=#{member_id}
 	</select>
 	
 	
 	
 </mapper>